<template>
    <div class="container">
        <div class="row">



        <div class="card col-4">
            <div class="card-header">
                <h5 class="card-title mb-0">Datos Proveedor </h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="form-label">Identificacion </label>
                    <input class="form-control" type="text" v-model="Identificacion" placeholder="RUC, CEDULA O PASAPORTE">
                </div>
				
				<div class="row">
					<div style="margin-left: auto;margin-right: auto;">
						<button class="btn btn-pill btn-primary" v-on:click="verificar()" >Verificar</button>
					</div>
                </div>
				<div class="row">
					<div style="margin-left: auto;margin-right: auto;">
						 <button class="btn btn-pill btn-success" v-on:click="guardar()" :disabled="disabled" >Guardar</button>
					</div>
                </div>
				<div class="row">
					<div style="margin-left: auto;margin-right: auto;">
						<button class="btn btn-pill btn-secondary" v-on:click="cancelar()"  >Limpiar</button>
					</div>
                </div>

            </div>
        </div>
        <div class="card col-8 ">
            <div class="card-header">
                <h5 class="card-title mb-0">Datos Proveedor </h5>
            </div>
            <div class="card-body">


                <div class="form-group">
                    <label class="form-label">Tipo Identificación</label>
                    <select class="form-control"  v-model="TipoIdentificacion" :disabled="disabled"  @change="changeTipoIdentificacion( $event )">
                        <option value="CEDULA" > CEDULA </option>
                        <option value="RUC" > RUC </option>
                    </select>
                </div>


                <div class="form-group">
                    <label class="form-label">Descripción</label>
                    <textarea class="form-control"  v-model="Descripcion"  :disabled="disabled" placeholder="INT"> </textarea>
                </div>
                <div class="form-group">
                    <label class="form-label">Dirección Domicilio</label>
                    <input class="form-control" type="text"  v-model="DireccionDomicilio"  placeholder="Quito, Iñaquito" :disabled="disabled">
                </div>
                <div class="form-group">
                    <label class="form-label">Teléfono Domiclio</label>
                    <input class="form-control" type="text"  v-model="TelefonoDomiclio"  placeholder="0222222222" :disabled="disabled">
                </div>
                <div class="form-group">
                    <label class="form-label">Correo electrónico</label>
                    <input class="form-control" type="email"  v-model="Correo" placeholder="usuario@correo.com" :disabled="disabled">
                </div>
            </div>
        </div>



        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                TipoIdentificacion:"",
                Identificacion: "",
				Descripcion: "",
				DireccionDomicilio: "",
				TelefonoDomiclio: "",
				Correo: "",
                disabled: true
            }
        },
        methods: {
            verificar(){
			
				this.disabled = false;
				
				if(this.Identificacion == "") return;


				 axios.get("/api/masterdata/proveedores-externos/"+this.Identificacion)
				 .then( res => {

				 if(  res.data.data.length > 0){

                    this.TipoIdentificacion = res.data.data[0].TipoIdentificacion;
                    this.Descripcion        = res.data.data[0].Descripcion;
                    this.DireccionDomicilio = res.data.data[0].DireccionDomicilio;
                    this.TelefonoDomiclio   = res.data.data[0].TelefonoDomiclio;
                    this.Correo             = res.data.data[0].Correo;

				 }else {
                    alert(res.data.message)
				}
			});


            },
            changeTipoIdentificacion( event ) {
                let tipoIdentificacion = event.target.value;
            },
            guardar(){

				let row_data= {
						"Descripcion": this.Descripcion,
						"TipoIdentificacion":  this.TipoIdentificacion,
						"Identificacion":  this.Identificacion,
						"DireccionDomicilio":  this.DireccionDomicilio,
						"TelefonoDomiclio":  this.TelefonoDomiclio,
						"Correo":  this.Correo
					};

			 
                axios.post('/api/masterdata/proveedores-externos/actualizar', row_data )
				  .then(function (res) {
					alert(res.data.message);
				  });

            },
            cancelar() {
				this.Identificacion = "";
				this.Descripcion = "";
				this.DireccionDomicilio = "";
				this.TelefonoDomiclio = "";
				this.Correo  = "";

                this.disabled = true;
            },
        }
    }
</script>
