<template>
    <div class="container">
       <div class="card-header">
                <h5 class="card-title">Proveedores Externos</h5>
                <div class="card-search-table">
                    <h6 class="card-subtitle text-muted">Lista de proveedores externos</h6>
                     
                </div>
            </div>



        <table class="table">
                <thead>
                <tr>
                    <th style="width:40%;">Descripcion </th>
                    <th style="width:10%">TipoIdentificacion</th>
                    <th style="width:20%">Identificacion</th>
                    <th style="width:15%">TipoCliente</th>
                    <th style="width:15%">Acción</th>
                </tr>
                </thead>
                <tbody>
                        <tr v-for="item in data" :key.id ="item.Identificacion" >
                            <td> {{item.Descripcion}} </td>
                            <td> {{item.TipoIdentificacion}} </td>
                            <td> {{item.Identificacion}} </td>
                            <td> {{item.TipoCliente}} </td>
                            <td ><button class="btn btn-pill btn-secondary"  data-toggle="modal" data-target="#sizedModalLg" v-on:click="openModal(item)" >Más</button></td>
                        </tr>


						<tr>
							<td colspan="5">
								<atom-spinner
									  :animation-duration="1000"
									  :size="90"
									  :color="'#3490dc'"
								 />
							</td>
						</tr>



						<tr>
							<td colspan="5">
								<nav>
									<ul class="pagination">
										<li class="page-item" >
											<a href="#" class="page-link" >
												<span v-on:click="firstPage()">
												  <span aria-hidden="true" >1</span>
												</span>
											</a>
										</li>
										<li class="page-item" >
											<a href="#" class="page-link" >
												<span v-on:click="prevPage()">
												  <span aria-hidden="true" > « </span>
												  <span aria-hidden="true"> {{page.from}} </span>
												</span>
											</a>
										</li>
										<li class="page-item">
											<a href="#" class="page-link" >
												<span >
													{{page.per_page}}
												</span>
											</a>
										</li>
										<li class="page-item" >
											<a href="#" class="page-link" >
												<span v-on:click="nextPage()">
												  <span aria-hidden="true"> {{page.to}} </span>
												  <span aria-hidden="true" > » </span>
												</span>
											</a>
										</li>
										<li class="page-item" >
											<a href="#" class="page-link" >
												<span v-on:click="lastPage()">
												  <span aria-hidden="true">{{page.last_page}}</span>
												</span>
											</a>
										</li>
									</ul>
								</nav>
							</td>
						</tr>

                </tbody>

             </table>



            <div class="modal fade" id="sizedModalLg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Proveedores Externos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body m-3">
                            <div class="row">

                                <div class="card col-6 ">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">Datos Proveedor - {{user.TipoCliente}} </h5>
                                    </div>
                                    <div class="card-body">

                                        <div class="form-group">
                                            <label class="form-label">Tipo Identificación</label>
                                            <select class="form-control"  v-model="user.TipoIdentificacion" :disabled="disabled"  @change="changeTipoIdentificacion( $event )">
                                                <option value="CEDULA" > CEDULA </option>
                                                <option value="RUC" > RUC </option>
                                            </select>
                                        </div>
  
                                        <div class="form-group">
                                            <label class="form-label">Identificación  | {{user.TipoIdentificacion}} </label>
                                            <input class="form-control" type="text" placeholder="RUC, CEDULA O PASAPORTE" v-model="user.Identificacion" :disabled="disabled">
                                        </div> 
										
                                        <div class="form-group">
                                            <label class="form-label">Descripción</label>
                                            <textarea class="form-control"  v-model="user.Descripcion" :disabled="disabled"> </textarea>
                                         </div>
                                        <div class="form-group">
                                            <label class="form-label">Dirección Domicilio</label>
                                            <input class="form-control" type="text" placeholder="Quito, Iñaquito" v-model="user.DireccionDomicilio" :disabled="disabled">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Teléfono Domiclio</label>
                                            <input class="form-control" type="text" placeholder="0222222222" v-model="user.TelefonoDomiclio" :disabled="disabled">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Correo electrónico</label>
                                            <input class="form-control" type="email" placeholder="usuario@correo.com" v-model="user.Correo" :disabled="disabled">
                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-pill btn-primary" v-on:click="editar()" :disabled="!disabled">Editar</button>
                                            <button class="btn btn-pill btn-success" v-on:click="actualizar()" :disabled="disabled" >Actualizar</button>
                                            <button class="btn btn-pill btn-secondary" v-on:click="cancelar()" :disabled="disabled" >Cancelar</button>
                                        </div>

                                    </div>
                                </div>


                                <div class="card col-6">
                                    <div class="card-header">
										
										
										
										<div class="form-group col-12">
											<img :src="logoCadena" alt="Logo Cadena" style="width: 75px;">
										<!--	
											<button class="btn btn-pill btn-success" :disabled="disabled" >Actualizar</button>
									   -->
									   </div>
										
                                        <div class="form-group col-12">
                                            <label for="inputState">Cadenas</label>
                                            <select id="inputState" class="form-control"  @change="changeCadena( $event )">
                                                <option > {{'-- SELECCIONE --'}} </option>
                                                <option v-for="item in cadenas" :key.id ="item.cdn_id" :value="item.cdn_id" > {{item.cdn_descripcion}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group"   v-for="item in restaurantes" :key.id ="item.rst_id" >
                                            <label class="custom-control custom-checkbox m-0">
                                                <input type="checkbox" class="custom-control-input" :value="item.rst_id" >
                                                <span class="custom-control-label">{{item.rst_cod_tienda}} - {{item.rst_descripcion}} </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</template>



<script>

    import moment from 'moment';
 import {AtomSpinner} from 'epic-spinners'


    Vue.filter('date', function (value) {
        if (value) {
            return moment(String(value)).format('MM/DD/YY hh:mm')
        }
    })

    export default {
	 components: {
      AtomSpinner
    },
        data() {
            return {
                data: [],
				page: {
					from:1,
					to:10,
					per_page:10,
					last_page:10,
					last_page_url:'',
					first_page_url:'',
					next_page_url:'',
					prev_page_url:'',
				 },
                user : [],
				logoCadena: 'http://soportekfc2020.test:881/img/logos/grupokfc.png',
                cadenas: [],
                restaurantes: [],
                disabled:true
            }
        },
        mounted() {
				axios.get("/api/cadenas")
				.then( res => {
					this.cadenas = res.data.data;
				 });



             axios.get("/api/masterdata/proveedores-externos")
			 .then( res => {
				this.data = res.data.data.data;
					this.page = {
						from:res.data.data.from,
						to:res.data.data.to,
						per_page:res.data.data.per_page,
						last_page:res.data.data.last_page,
						last_page_url:res.data.data.last_page_url,
						first_page_url:res.data.data.first_page_url,
						next_page_url:res.data.data.next_page_url,
						prev_page_url:res.data.data.prev_page_url,
					 }

                 });
        },
        methods:{
            openModal(item) {
				this.user = item;
            },
			changeCadena(event) {
				this.restaurantes = [];
				let cdn_id = event.target.value;
				let cadena = this.cadenas.filter( item => item.cdn_id == cdn_id);
				this.logoCadena = 'http://soportekfc2020.test:881/img/logos/'+cadena[0].cdn_logotipo;
				axios.get("/api/restaurantes/"+cdn_id+"/123456")
				.then( res => {
					this.restaurantes = res.data.data;
 				 });
            },
            changeTipoIdentificacion( event ) {
                let tipoIdentificacion = event.target.value;

            },
			lastPage(page){
                 axios.get(this.page.last_page_url).then( res => {
				 this.data = [];
				 this.data = res.data.data.data;
						this.page = {
							from:res.data.data.from,
							to:res.data.data.to,
							per_page:res.data.data.per_page,
							last_page:res.data.data.last_page,
							last_page_url:res.data.data.last_page_url,
							first_page_url:res.data.data.first_page_url,
							next_page_url:res.data.data.next_page_url,
							prev_page_url:res.data.data.prev_page_url,
						 }
					 });

            },
			firstPage(page){
                axios.get(this.page.first_page_url).then( res => {
				 this.data = [];
				 this.data = res.data.data.data;
						this.page = {
							from:res.data.data.from,
							to:res.data.data.to,
							per_page:res.data.data.per_page,
							last_page:res.data.data.last_page,
							last_page_url:res.data.data.last_page_url,
							first_page_url:res.data.data.first_page_url,
							next_page_url:res.data.data.next_page_url,
							prev_page_url:res.data.data.prev_page_url,
						 }
					 });
            },
			nextPage(page){
                axios.get(this.page.next_page_url).then( res => {
				 this.data = [];
				 console.log(res.data)
				 this.data = res.data.data.data;
						this.page = {
							from:res.data.data.from,
							to:res.data.data.to,
							per_page:res.data.data.per_page,
							last_page:res.data.data.last_page,
							last_page_url:res.data.data.last_page_url,
							first_page_url:res.data.data.first_page_url,
							next_page_url:res.data.data.next_page_url,
							prev_page_url:res.data.data.prev_page_url,
						 }
					 });
            },
			prevPage(page){
			     axios.get(this.page.prev_page_url).then( res => {
				 this.data = [];
				 this.data = res.data.data.data;
						this.page = {
							from:res.data.data.from,
							to:res.data.data.to,
							per_page:res.data.data.per_page,
							last_page:res.data.data.last_page,
							last_page_url:res.data.data.last_page_url,
							first_page_url:res.data.data.first_page_url,
							next_page_url:res.data.data.next_page_url,
							prev_page_url:res.data.data.prev_page_url,
						 }
					 });
            },

            editar(){
                this.disabled = false;
            },
            actualizar(){
				this.disabled = true;
				let row_data= {
						"Descripcion": this.user.Descripcion,
						"TipoIdentificacion":  this.user.TipoIdentificacion,
						"Identificacion":  this.user.Identificacion,
						"DireccionDomicilio":  this.user.DireccionDomicilio,
						"TelefonoDomiclio":  this.user.TelefonoDomiclio,
						"Correo":  this.user.Correo
					};
				axios.post('/api/masterdata/proveedores-externos/actualizar', row_data )
				  .then(function (res) {
					alert(res.data.message)
				  })


            },
            cancelar() {
                this.disabled = true;
            }
        }
    }
</script>
